/* Background */
.root {
    -fx-background-color: #E0E3E3;
}

/* Logout button */
.logout-button {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 12;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4, 0, 0, 2);
}

/* Regular label */
.regular_label {
    -fx-text-fill: #1C1B1B;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

/* Labels inside boxes */
.primary_label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.welcome_label {
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-padding: 5 0 5 0;
}

.input_field {
    -fx-background-color: -fx-text-box-border, #ECEEF1;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0;
}

.primary_button {
    -fx-background-color: #E0E3E3;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-border-width: 2px;
    -fx-background-radius: 12;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4, 0, 0, 2);
}

/* Dropdown (ComboBox) inside stat boxes */
.combo-box {
    -fx-background-color: #FCFEFF;
    -fx-border-color: #1B1B1B;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #1C1B1B;
    -fx-padding: 6 10;
    -fx-pref-width: 160px;
    -fx-cursor: hand;
}
.text_container {
    -fx-background-color: #FCFEFF;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-color: #1B1B1B;
}

.table-view {
    -fx-background-color: #E0E3E3;
    -fx-padding: 9 9;
    -fx-border-color: #1b1b1b;
    -fx-border-radius: 12;
    -fx-border-width: 2px;
    -fx-background-radius: 12;
}

.column-header{
    -fx-background-color: #FCFEFF;
    -fx-background-radius: 12 12 0 0;
}


.column-header-background{
    -fx-background-color: #E0E3E3;
    -fx-background-radius: 12;

}

